In [1]:
class ReadStataFile:
    def __init__(self,folder_name):
        self.folder_name= folder_name
        self.__load_columns__()

    def __load_columns__(self):
      
        file_name =self.folder_name[0:-2]+"FL"
        obj = open(f"./{self.folder_name}/{file_name}.DO")
        lines = obj.readlines()
        labels = {}
        for line in lines[2:]:
            if line != "#delimit ;" and len(line.strip()) >0 :
                my_split = line.split('\"')
                my_var = my_split[0].replace("label variable","").strip()
                my_label = my_split[1].strip()
                labels[my_var]=my_label
            
            else:
                break;
        self.variables = labels.keys()
        self.labels = labels.values()
        self.col_dict =labels
        obj.close()
    
    def get_col_modality(self,variable_name):
        # #delimit cr
      
        folder_name = "HTBR71DT"
        file_name =self.folder_name[0:-2]+"FL"
        obj = open(f"./{self.folder_name}/{file_name}.DO")
        lines = obj.readlines()
        flag_delimiter = 0
        flag_variable_found = 0
        labels ={}
        for line in lines[2:]:
            #print(line)
            if line.lower().strip().find("delimit") >0:
                flag_delimiter = 1
                #print("delimiter found !!!")
            elif line.lower().find(variable_name.lower()) >0 and flag_delimiter == 1:
                flag_variable_found = 1
                #print("variable found !!!")
            elif flag_variable_found == 1 and flag_delimiter == 1 and  line.lower().find(variable_name.lower()) ==-1 and len(line.strip()) >0 and line.strip() != ";"  :
                my_split = line.split('\"')    
                my_var = int(my_split[0].strip())
                my_label = my_split[1].strip()
                labels[my_var]=my_label
                
            
            elif flag_variable_found == 1 and flag_delimiter == 1 and line.strip() == ";" :
                #print("variable not found !!!")
                break;
        obj.close()
        return labels 

    def get_col_label(self,variable_name):
        return self.col_dict.get(variable_name.lower())

    def to_dataframe(self,use_modality=False):
        import pandas as pd
        file_name =self.folder_name[0:-2]+"FL"
        df = pd.read_stata(f"./{self.folder_name}/{file_name}.DTA",convert_categoricals=False)
        if  use_modality:
          for col in self.variables:
              my_dict = self.get_col_modality(col)
              df[col].replace(my_dict,inplace=True)
        df.rename(columns=self.col_dict,inplace=True)
        return df

In [2]:
rs = ReadStataFile("HTMR71DT")

In [3]:
df = rs.to_dataframe()

In [4]:
df.head()

,Case Identification,Country code and phase,Cluster number,Household number,Respondent's line number,Ultimate area unit,Men's sample weight (6 decimals),Month of interview,Year of interview,Date of interview (CMC),...,Blood pressure from s122d : Diastolic,Blood pressure from s1112d : Systolic,Blood pressure from s1112d : Diastolic,Average blood pressure: Systolic,Average blood pressure: Diastolic,Register the blood pressure: Systolic,Register the blood pressure: Diastolic,Final Result: Systolic,Final result: Diastolic,Result blood pressure
0,1 12 2,HT7,1,12,2,1,1182418,3,2017,1407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 12 3,HT7,1,12,3,1,1182418,3,2017,1407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 23 1,HT7,1,23,1,1,1182418,3,2017,1407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1 23 3,HT7,1,23,3,1,1182418,3,2017,1407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1 23 4,HT7,1,23,4,1,1182418,3,2017,1407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:

cols=["Beating justified: wife neglects the children",
"Beating justified: wife argues with husband",
"Beating justified: wife refuses to have sex with husband",
"Beating justified: wife burns food"]

In [7]:
df_final=df[cols]

In [ ]:
df_final